# Ignore datasets
Datasets/
trajectory-mapping/visualnav-transformer/diffusion_policy  
trajectory-mapping/visualnav-transformer/train/diffusion_policy

# Ignore checkpoints
*.pth
*.pt
*.ckpt
*.jpg
*.pkl

# Ignore logs
trajectory-mapping/visualnav-transformer/train/logs

# Ignore system files
.DS_Store

# Ignore nested virtual environments if any
venv/
__pycache__/
*.pyc